.text-decorator-none{
    text-decoration: none;
}

.buttom21 {
    height: 50px !important;
    width: 90% !important;
    border: none;
    border-radius: 3px;
    margin-right: 50px !important;
    background-color: #363636 !important;
    color: white !important;
    font-family: Calibri !important;
    font-Weight: bold !important;
}

.buttom31 {
    height: 50px !important;
    width: 90% !important;
    border: none ! important;
    border-radius: 3px !important;
    margin-right: 50px !important;
    background-color: #FFE835 !important;
    color: #363636 !important;
    font-family: Calibri !important;
    font-Weight: bold !important;
    
}